:root {
    --primary-color: #ff523b;
    --secondary-color: #563434;
    --background-gradient: radial-gradient(#dfae53, #efb03b);
    --text-color: #555;
    --font-body: 'Inter', sans-serif;
    --font-heading: 'Halant', serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden; /* Prevents horizontal scroll */
    width: 100vw;
    background: var(--background-gradient);
    font-family: var(--font-body); /* Default for body */
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
}

nav {
    flex: 1;
    text-align: left;
}

nav ul {
    display: inline-block;
    list-style-type: none;
    margin: 0; 
}

nav ul li {
    display: inline-block;
    margin-right: 15px;
}

nav ul a {
    text-decoration: none;
    color: var(--text-color);
    transition: color 0.3s; 
}

nav ul a:hover {
    color: var(--primary-color); 
}

p {
    color: var(--text-color);
    font-family: 'Gowun Batang', serif; 
}

.container {
    max-width: 1300px;
    margin: auto;
    padding: 0 20px; 
}


.carousel-inner {
    width: 100%; 
    height: 500px; 
    margin: auto; 
}


h1 {
    font-family: var(--font-heading); 
}


.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2 {
    flex-basis: 50%; 
    min-width: 300px;
}

.col-2 img {
    max-width: 80%; 
    height: auto; 
    padding: 50px 0;
}

/* Button Styles */
a.btn-custom, button.btn-custom {
    display: inline-block;
    padding: 12px 24px;
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 30px; 
    border: none; 
    font-size: 16px;
    transition: background-color 0.5s;
}

.btn-custom:hover {
    background: var(--secondary-color); 
}

/* Margin Adjustments */
.row.mt-5 {
    margin-top: 50px;
}

/* Footer Styles */
.footer {
    background-color: #f26b0ada;
    color:  white; 
    padding: 20px 0; 
    margin-top: 30px;
}

.footer p {
    margin: 0; 
}

.footer .social-media {
    margin-top: 0; 
}

.footer .social-icon {
    color:white; 
    margin-left: 10px; 
    text-decoration: none; 
    font-size: 20px; 
}

.footer .social-icon:hover {
    color: var(--primary-color); 
}


@media (max-width: 768px) {
    .col-2 {
        flex-basis: 100%; 
        text-align: center; 
    }

    .carousel-inner {
        height: auto; 
    }

    nav ul.show {
        display: flex; 
    }
}
