
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-family: 'Gowun Batang', serif;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

h3 {
    font-family: 'Inter', sans-serif;
    color: #333;
    font-weight: 600;
    text-align: right;
    margin-top: 20px;
}


.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-family: 'Halant', serif;
}

.table thead th {
    background-color: #f8f9fa;
    color: #333;
    font-weight: bold;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.table tbody td {
    padding: 12px;
    text-align: center;
    vertical-align: middle;
    border-bottom: 1px solid #ddd;
}

.table tbody tr:hover {
    background-color: #f1f1f1;
}


button {
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    color: #333;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 14px;
    margin: 0 5px;
}

button:hover {
    background-color: #e9ecef;
}

button:active {
    background-color: #ddd;
}


#total-price {
    font-size: 1.5em;
    color: #555;
    font-weight: bold;
}


#checkout-btn {
    display: block;
    margin: 20px auto;
    background-color: #f26b0ada; 
    color: rgb(235, 220, 220);
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#checkout-btn:hover {
    background-color: #f89100d8; 
}


@media (max-width: 768px) {
    h3 {
        text-align: center;
        margin-top: 10px;
    }

    .table thead th,
    .table tbody td {
        font-size: 14px;
    }

    #checkout-btn {
        font-size: 14px;
        padding: 8px 16px;
    }
}


.footer {
    background-color: #f26b0ada; 
    color: white; 
    padding: 30px; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    position: relative; 
    bottom: 0; 
    width: 100%; 
}


.footer .social-media {
    display: flex; 
    gap: 15px; 
}

.footer .social-media a {
    color: white; 
    font-size: 20px; 
    text-decoration: none; 
    transition: color 0.3s; 
}

.footer .social-media a:hover {
    color: #ddd; 
}


html, body {
    height: 100%; 
    margin: 0; 
}

.container {
    min-height: calc(100vh - 60px); 
}

