* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden; 
    width: 100vw;
    background: radial-gradient(#dfae53, #efb03b);
    font-family: 'Inter', sans-serif; 
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
}

nav {
    flex: 1;
    text-align: left;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 14px;
}

nav ul a {
    text-decoration: none;
    color: #555; 
}

p {
    color: #555;
    font-family: 'Gowun Batang', serif; 
}

.container {
    max-width: 1300px;
    margin: auto;
    padding: 0 20px;
}

h1, h2 {
    font-family: 'Halant', serif; 
    text-align: center; 
}

h3 {
    font-family: 'Halant', serif; 
    margin-top: 30px; 
}
h4 {
    font-family: 'Halant', serif; 
    margin-top: 30px; 
}

.opinions-section {
    padding: 20px 0; 
}

.review {
    background: #f26b0ada; 
    padding: 15px; 
    border-radius: 10px; 
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); 
    margin-bottom: 15px; 
    text-align: left; 
    transition: box-shadow 0.2s ease; 
}


.review:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); 
}

.submission-form {
    background: #efb03b; 
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}



.submission-form input,
.submission-form textarea {
    width: 100%; 
    padding: 10px; 
    border-radius: 5px; 
    border: 1px solid #555; 
    background-color: transparent; 
    color: #333; 
    margin-bottom: 10px; 
}

.btn-custom {
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 12px 24px;
    background-color: #ff523b; 
    color: white; 
    text-align: center;
    text-decoration: none; 
    border: none; 
    border-radius: 30px; 
    font-size: 16px;
    transition: background 0.5s, transform 0.2s; 
    cursor: pointer; 
}


.btn-custom:hover {
    background: #563434; 
    transform: scale(1.05); 
}

.btn-submit:hover {
    background: #c45a00; 
}

.error-message {
    color: #ff4d4d;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 5px;
    background-color: #ffe6e6;
    border: 1px solid #ff4d4d;
    border-radius: 5px;
    display: none; 
    text-align: center;
}




.footer {
    background-color: #f26b0ada; 
    color: white; 
    padding: 20px 0; 
}

.footer p {
    margin: 0; 
}

.footer .social-media {
    margin-top: 0; 
}

.footer .social-icon {
    color: white; 
    margin-left: 10px; 
    text-decoration: none; 
    font-size: 20px; 
}

.footer .social-icon:hover {
    color: #ff523b; 
}
